* {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
}

.breadcrumbs-control {
    font-size: smaller;
}

/* editor tabs */
.tabs-container>.tab .tab-label a {
    font-size: smaller !important;
}

/* all list components */
.monaco-list {
    font-size: 12px;
}
